.HeaderText{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: calc(7px + 3.5vw);
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: Play, sans-serif;
  flex: 1 1 50%;
  opacity: 0;
  animation: fateOn 3s ease-in-out 7s forwards;
}