.HeaderText{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: calc(7px + 3.5vw);
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: Play, sans-serif;
}