.Button{
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  border: white solid 4px;
  cursor:pointer;
  background-color:#7ba2e0;
  color: white;
  font-size:24px;
  letter-spacing: .1em;
  padding-top:22px;
  padding-bottom:22px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

.noActive{
  cursor:default;
  opacity: .3;
}

